<div class="container col-lg-5">
	{{diagnostic}}
	<h1>Account form</h1>
	<form>
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" class="form-control" id="code"
				   required
				   [(ngModel)]="model.code"
				   name="code"
				   >
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name"
				   required
				   [(ngModel)]="model.name"
				   name="name"
			>
		</div>
		<div class="form-group">
			<label for="value">Value</label>
			<input type="text" class="form-control" id="value"
				   required
				   [(ngModel)]="model.value"
				   name="value"
				   >
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>