<h1 class="page-header row">
	<div class="col-lg-10">Accounts</div>
	<div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="AccountFormComponent.displayForm">Add</button></div>
</h1>
<div class="table-responsive" class="row">
	<table class="table table-striped col-lg-12">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Type</th>
				<th>Valeur</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let account of accounts">
				<td>{{account.code}}</td>
				<td>{{account.name}}</td>
				<td></td>
				<td>{{account.value}}</td>
				<td>{{account.percentage}}</td>
			</tr>
		</tbody>
	</table>
</div>
<account-form
		(onAdded)="updateListeAccount($event)"></account-form>