<h1 class="page-header row">
	<div class="col-lg-10">Accounts</div>
	<div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="displayForm()">Add</button></div>
</h1>
<div class="row">
	<div class="table-responsive"
		 [class.col-lg-12]="hiddenForm"
		 [class.col-lg-8]="!hiddenForm"
	>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Type</th>
				<th>Valeur</th>
				<th>%</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let account of accounts">
				<td></td>
				<td>{{account.name}}</td>
				<td></td>
				<td>{{account.value.value}}</td>
				<td>{{account.percentage}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="container col-lg-4" [hidden]="hiddenForm">
		<account-form (onAdded)="updateListeAccount($event)"></account-form>
	</div>
</div>

